<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello! <%= @user.firstname %> <%= @user.lastname %></p>
    <p>Your Account created successfully.<br>
    --------------------------
    </p>
    your account credentials are
    <p>Name: <%= @user.firstname %> <%= @user.lastname %></p>
    <p>Email: <%= @user.email %></p>
  </body>
</html>