<section style="background-color: #f9f8f8;">
  <div class="container py-5">
    <div class="row">
      <div class="col" style="margin-top: 20px;">
        
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4 card-padding">
          <div class="card-body text-center">
			      <%#= image_tag @user_profile_image,class:"rounded-circle img-fluid imgwidth" %>
            <h5 class="my-3"><%= current_user.firstname %> <%= current_user.lastname %></h5>
            <span class="text-muted mb-1 mr-4">Full Stack Developer</span><br>
            <span class="text-muted mb-4 mr-4">Bay Area, San Francisco, CA</span>
            <!--<div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary">Follow</button>
              <button type="button" class="btn btn-outline-primary ms-1">Message</button>
            </div>-->
          </div>
        </div>
        <%= link_to "Edit Profile",edit_user_registration_path, class:"btn btn-info edit_btn" %>
      </div>
                  

      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= current_user.firstname %> <%= current_user.lastname %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= current_user.email%></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">0987654321</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                <% @address = current_user.user_addresses.last %>
                <% Array(@address).each do |user_address|%>
                    <%= user_address.shipping_address %>, <%= user_address.city %>, 
                    <%= user_address.state %>, <%= user_address.country %>, <%= user_address.zipcode %>
                <% end %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	<section>