  <%= render "users/shared/fix_top" %>
    <hr>
    <div class="container">
      <div class="row">
        <%= render "users/shared/sidebar" %>
        <div class="col-sm-9 padding-right">
        <div class="features_items"><!--fmy orders-->
          <h2 class="title text-center">Track Order</h2>
          <div class="col-sm-12">
            <%= form_with  url: users_track_order_path,  local: true,data: { turbo: false } do |form| %>
                <ul class="user_option">
                    <li>
                    <div class="mb-3">
                        <%= form.label :order_ID %>
                        <%= form.text_field :user_order_id, class: "form-control",id: "track_form_input" , placeholder: "enter order id" %>
                    </div>
                    </li>
                    <li>
                        <div class="mb-3">
                            <%= form.submit "Track Order", class: "btn btn-primary" %>
                        </div>
                    </li>
                </ul>
                <% end %>
                <% if @user_order.present? %>
                    <span>Your Order is : <strong><%= @user_order.order_status %> </strong> </span>
                <% end %>
          </div>
        </div><!--my orders-->
      </div>
      </div>
    </div>
  </div>
</section>