
<div class="container">
  <h4 style="margin-bottom: 30px;"> Total Amount <h4>
    <% if session[:coupon].present? %>
      <p style="margin-bottom: 30px;">₹ <%= price_with_coupon %><p>
    <% else %>
      <p style="margin-bottom: 30px;">₹ <%= @total_amount %><p>
    <% end %>
    <hr>
    <%= form_with url:submit_orders_path, :id => 'order-details' do |form| %>
      <input id="order-type" name="orders[payment_gateway]" type="hidden" value="stripe">
      <% binding.pry %>
      <% if session[:coupon].present? %>
        <input id="coupon_id" name="orders[coupon_id]" type="hidden" value="<%= session[:coupon]["id"].to_i %>">
        <input id="final_price" name="orders[total]" type="hidden" value="<%= price_with_coupon %>">
      <% else %>
        <input id="final_price" name="orders[total]" type="hidden" value="<%= @total_amount %>">
      <% end %>
      <div class="mb-3" style="margin-bottom: 30px">
        <% if set_address.present?%>
          <%# binding.pry %>
            <%#= select_tag :new_locale, options_for_select(I18n.available_locales, I18n.locale), :onchange => "this.form.submit();" %>
              <%# <h4 style="margin-bottom: 30px">Select Address / Add new address</h4> %>
              <p>
                <a class="" data-toggle="collapse" href="#collapseExample"  aria-expanded="false" aria-controls="collapseExample">
                  Select address
                </a>
              </p>
              <%# Dynamic Radio button for addresses %>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <%= form.collection_radio_buttons :address, set_address.collect {|p| [p[:address], p[:id]]}, :last, :first do |b| %>
                    <div class="form-check-input">
                      <%= b.radio_button %>
                      <%= b.label %>
                    </div>
                  <% end %>
                </div>
              </div>
                  <%#= select_tag "address", options_for_select(set_address.collect {|p| [ p[:address], p[:id] ] }, set_address.last[:id]), include_blank: true %>
              <br>
              <br>
              <br>
              <%= link_to "Add new address", new_address_path, class:"bottom-space"%>
        <% else %>
              <%= link_to "Add Your address", new_address_path%>
        <% end %>
        <%#= form.select :id, @addr_hashs.collect { |p| [  p[:address], p[:id] ] }, include_blank: true %>
      </div>
      <div class="form_row1">
        <h4>Charges/Payments</h4>
          <% @products_purchase.each do |product| %>
            <div class="data-charges-and-payments-section">
              <%= radio_button_tag 'orders[product_id]', product.id, @products_purchase.first == product %>
              <input id="hideid" name="<%= :order %>" type="hidden" value="1">
              <span id="radioButtonName<%= product.id %>">"Your Order"</span>
              <span data-price="<%= product.price %>" id="radioButtonPrice<%= product.id %>">#{humanized_money_with_symbol product.price}</span>

            </div>
          <% end %>
      </div>
        
        <h4 class="bottom-space">Payment Method</h4>
        <div class="form_row">
          <div class="bottom-space">
            <%= radio_button_tag 'payment-selection', 'stripe', true, onclick: "changeTab();" %>
            <span>Stripe</span>
          </div>
          <div class="bottom-space">
            <%= radio_button_tag 'payment-selection', 'COD', false, onclick: "changeTab();" %>
            <span>COD</span>
          </div>
        </div>
        <div class="paymentSelectionTab active" id="tab-stripe" class="bottom-space">
          <div id="card-element"></div>
          <div id="card-errors" role="alert"></div>
          <br/>
          <%= submit_tag "Buy it!", id: "submit-stripe" %>
        </div>
  <% end %>
</div>
 
<script>
function changeTab() {
    var newActiveTabID = $('input[name="payment-selection"]:checked').val();
    $('.paymentSelectionTab').removeClass('active');
    $('#tab-' + newActiveTabID).addClass('active');
  }

  (function setupStripe() {
    //Initialize stripe with publishable key
    var stripe = Stripe("<%=ENV['STRIPE_PUBLIC_KEY']%>");
    //Create Stripe credit card elements.
    var elements = stripe.elements();
    var card = elements.create('card');

    //Add a listener in order to check if
    card.addEventListener('change', function(event) {
      //the div card-errors contains error details if any
      var displayError = document.getElementById('card-errors');
      document.getElementById('submit-stripe').disabled = false;
      if (event.error) {
        // Display error
        displayError.textContent = event.error.message;
      } else {
        // Clear error
        displayError.textContent = '';
      }
    });

    // Mount Stripe card element in the #card-element div.
    card.mount('#card-element');
    var form = document.getElementById('order-details');
    // This will be called when the #submit-stripe button is clicked by the user.
    form.addEventListener('submit', function(event) {
      $('#submit-stripe').prop('disabled', true);
      event.preventDefault();
      stripe.createToken(card).then(function(result) {
        if (result.error) {
          // Inform that there was an error.
          var errorElement = document.getElementById('card-errors');
          errorElement.textContent = result.error.message;
        } else {
        // Now we submit the form. We also add a hidden input storing 
    // the token. So our back-end can consume it.
          var $form = $("#order-details");
          // Add a hidden input orders[token]
          $form.append($('<input type="hidden" name="orders[token]"/>').val(result.token.id));
          // Set order type
          $('#order-type').val('stripe');
          $form.submit();
        }
      });
      return false;
    });
  }());

    (function setupCOD() {
      console.log("inside COD method");
    function isPayment() {
      return p = $('[data-charges-and-payments-section] input[name="orders[product_id]"]:checked').length
    }

    function submitOrderCOD(chargeID) {
      var $form = $("#order-details");
      // Add a hidden input orders[charge_id]
      $form.append($('<input type="hidden" name="orders[charge_id]"/>').val(chargeID));
      // Set order type
      $('#order-type').val('COD');
      $form.submit();
    }

  }())  

</script>
  
<style>
  #card-element {
    width:500px;
  }
  .paymentSelectionTab {
    display: none;
  }
  .paymentSelectionTab.active {
    display: block !important;
  }
  .form_btn {
    display: block;
  }
    .form_btn.active{
    display: block !important;
  }
  .bottom-space{
    margin-bottom: 30px;
  }
  </style>