<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container">
      <p>Daily Queries of customers <br>
          --------------------------
      </p>
      <%@queries.each do |query|%>

        <p><%= query.contact_no %></p>
        <p><%= query.message %></p>
      <% end %>

      <p>Customer Replied queries <br>
      -----------------------------
      </p>
      <%@replied_queries.each do |query|%>

        <p><%= query.contact_no %></p>
        <p><%= query.replies %></p>
        <p><%= query.message %></p>
      <% end %>
    </div>
  </body>
</html>