<div class=" container table-responsive cart_info">
    <h2 class="text_center">Cash On Delivary </h2>
    <table class="table table-condensed">
        <thead>
            <% @cart.each do |product| %>
            <tr>
                <td class="cart_product">
                    <a href=""><%= image_tag product.ProductImage,class: "imgsize" %></a>
                </td>
                <td class="cart_description">
                    <h4><a href=""><%= product.name %></a></h4>
                </td>
                <td class="cart_price">
                    <p><%= product.price %></p>
                </td>
                <% end %>
        </thead>
    </table>

        <table>
        <p class="total-price" style = "float: right;margin-right: 50px;">Total - <%= @total_amount %> </p>
        
    </table>
    <% if @coupon.present? %>
        <%= link_to "Place Order", order_success_path(coupon: @coupon), class:"btn btn-primary" %>
    <% else %>
        <%= link_to "Place Order", order_success_path, class:"btn btn-primary" %>
    <% end %>  
<div>
