
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Check out</li>
				</ol>
			</div><!--/breadcrums-->

			<%# <div class="step-one">
				<h2 class="heading">Step1</h2>
			</div> %>
			<%# <div class="checkout-options">
				<h3>New User</h3>
				<p>Checkout options</p>
				<ul class="nav">
					<li>
						<label><input type="checkbox"> Register Account</label>
					</li>
					<li>
						<label><input type="checkbox"> Guest Checkout</label>
					</li>
					<li>
						<a href=""><i class="fa fa-times"></i>Cancel</a>
					</li>
				</ul>
			</div><!--/checkout-options--> %>

			<div class="register-req">
				<p>Please use Register And Checkout to easily get access to your order history.</p>
			</div><!--/register-req-->

			<div class="shopper-informations">
					<div class="row">
						<div class="col-md-4 order-md-2 mb-4">
						<h4 class="d-flex justify-content-between align-items-center mb-3">
							<span class="text-muted">Your cart</span>
							<span class="badge badge-secondary badge-pill"><%= @cart.size %></span>
						</h4>
						<ul class="list-group mb-3">
							<li class="list-group-item d-flex justify-content-between lh-condensed">
							<div>
								<h6 class="my-0">products</h6>
								<small class="text-muted">products 
								</small>
							</div>
							</li>
							<li class="list-group-item d-flex justify-content-between lh-condensed">
							<div>
								<h6 class="my-0">Total Products </h6>
								<small class="text-muted"><%= @cart.size %></small>
							</div>
							<span class="text-muted">$8</span>
							</li>
							<li class="list-group-item d-flex justify-content-between lh-condensed">
							<div>
								<h6 class="my-0">Third item</h6>
								<small class="text-muted">Brief description</small>
							</div>
							<span class="text-muted">$5</span>
							</li>
							<li class="list-group-item d-flex justify-content-between bg-light">
							<div class="text-success">
								<h6 class="my-0">Promo code</h6>
								<small>EXAMPLECODE</small>
							</div>
							<span class="text-success">-$5</span>
							</li>
							<li class="list-group-item d-flex justify-content-between">
							<span>Total (USD)</span>
							<strong>$20</strong>
							</li>
						</ul>

						<%# <form class="card p-2">
							<div class="input-group">
							<input type="text" class="form-control" placeholder="Promo code">
							<div class="input-group-append">
								<button type="submit" class="btn btn-secondary">Redeem</button>
							</div>
							</div>
						</form> %>
						</div>
						<div class="col-md-8 order-md-1">
						<h4 class="mb-3">Address</h4>
		
						<%# <form class="needs-validation" novalidate=""> %>
						<%= form_for UserAddress.new,  url: eshop_user_order_information_path,turbo_method: :post,id:"address_form",remote: true,data: {turbo: false} do |form| %>
							<div class="row" >
								<% if form.object.errors.any? %>
									<div class="alert alert-danger">
										<% form.object.errors.full_messages.each do |msg| %>
										<div><%= msg %></div>
										<% end %>
									</div>
								<% end %>
								<% if @address.present? %>
									<div class="form-check">
										<nav aria-label="breadcrumb">
										<ol class="breadcrumb">
										<%# radio_button_tag 'color', "green", true, class: "color_input" %>
											<%= radio_button_tag(:address,@address,true) %>
											<%#= form.radio_button :billing_address, :value=> @address, checked:true %>
											<label class="form-check-label" for="flexRadioDefault2">
											<%= @address%>
											</label>
										</ol>
										</nav>
										<button class="btn btn-primary" id="display_btn" onclick="buttonFunc()">Click Here to add new address</button>
									</div>
								<% else %>
									<p>Please add your address........</p>
								<% end %>
								<div class="mb-3">
									<%= form.label :Local_address,class:"form-margin" %>
									<%= form.text_field :shipping_address, class:"form-control" %>
								</div>
								<div class="row" style="margin-bottom: 50px;">
									<div class="col-md-6 mb-3">
										<label  class="form-margin" for="country">City</label>
										<%= form.text_field :city, class: "form-control" %>
									</div>
									<div class="col-md-6 mb-3">
										<label for="state" class="form-margin">State</label>
										<%= form.text_field :state, class: "form-control" %>
									</div>
									<div class="col-md-6 mb-3">
										<label class="form-margin" for="state">Country</label>
										<%= form.text_field :country, class: "form-control" %>
									</div>
									<div class="col-md-6 mb-3">
										<label class="form-margin" for="zip">Zip</label>
										<%= form.text_field :zipcode, class: "form-control" %>
									</div>	
								</div>
							</div>
							<div class="address_info">

							</div>
							<div class="payment-options" style="margin-top: 30px; display: inline-flex;">
							  <%#= check_box_tag "pages[#{@user_order.id}]", true %>
								<%#= label_tag  %>
								
								<% if @address.present? %>

								<% else %>
									<%= form.submit "Save Address", class: "btn btn-primary" %>
								<% end %>
									<%= form.submit "Save Address", class: "btn btn-primary", id: "savebtn" %>

									<% if @coupon.present? %>
										<%= link_to "Checkout With Stripe", orders_index_path(coupon: @coupon), class: "btn btn-default check_out float-right" %>
									<% else %>
										<%= link_to "Checkout With Stripe", orders_index_path, class: "btn btn-default check_out float-right" %>
									<% end %>
									<% if @coupon.present? %>
										<%= link_to "Cash On Delivery", cash_on_delivery_path(coupon: @coupon), class: 'btn btn-default check_out float-right' %>
									<% else %>
										<%= link_to "Cash On Delivery", cash_on_delivery_path, class: 'btn btn-default check_out float-right' %>
									<% end %>
									
							</div>
						<% end %>					
						<div class="", style="margin-bottom: 30px;">
					</div>	
					</div>
				</div>
			</div>
			<%if session[:cart].empty?%>
			
			<% else %>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<% @cart.each do |product| %>
						<tr>
							<td class="cart_product">
								<a href=""><%= image_tag product.ProductImage,class: "imgsize" %></a>
							</td>
							<td class="cart_description">
								<h4><a href=""><%= product.name %></a></h4>
								<p>Web ID: 1089772</p>
							</td>
							<td class="cart_price">
								<p><%= product.price %></p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button flexclass">
								<%= button_to '+', increase_quantity_path(product), method: :patch, remote: true, class:"cart_quantity_up"  %>

									<input class="cart_quantity_input" type="text" name="quantity" value="<%= product.quantity %>" autocomplete="off" size="2">
								<%= button_to '-', decrease_quantity_path(product), method: :patch, remote: false, class:"cart_quantity_down"  %>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price"><%= product.price %></p>
							</td>
							<td class="cart_total">
								<%= link_to remove_from_cart1_path(product),data: {:remote => true, turbo_method: :delete}, class:"cart_total_price1" do %>
								<i class="fa fa-times"></i>
								<% end %>
							</td>
						</tr>
						<% end %>
					</tbody>
					
				</table>
						
			</div>
			<% end %>

		</section> <!--/#cart_items-->
						