<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
				<%= render partial: 'eshop/shared/sidebar'%>	
												
				</div>
			</div>
			<div class="col-sm-9 padding-right">
				<div class="product-details"><!--product-details-->
				<%if @product.present? %>
					<div class="col-sm-5">
						<div class="view-product">
							<%#= image_tag("product-details/1.jpg", alt:"") %>
							<%#= image_tag @product.ProductImage %>
							<%= link_to image_tag(@product.ProductImage.variant(resize_to_limit: [318, 378])), @product.ProductImage,target: :_blank %>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="product-information"><!--/product-information-->
							<%= image_tag("product-details/new.jpg", class:"newarrival", alt:"") %>
							<h2><%= @product.name %></h2>
							<%# <p>Web ID: 1089772</p> %>
							<%= image_tag("product-details/rating.png", alt:"") %>
							<span>
								<span>₹<%= @product.price %></span>
								<label>Quantity:</label>
								<input type="text" value="1" />
								<i class="fa fa-shopping-cart"></i><%= link_to "Add to cart", add_to_cart_path(@product),remote: true, data: {turbo_method: :post}, class: "btn btn-fefault cart"%>
								<%# <button type="button" class="btn btn-fefault cart">
									<i class="fa fa-shopping-cart"></i>
									Add to cart
								</button> %>
							</span>
							<p><b>Description : </b><%=@product.long_description %></p>
						</div><!--/product-information-->
					</div>
					<% end %>
				</div><!--/product-details-->
			</div>
		</div>
	</div>
</section>
