

<div class="container">
<%= form_with model: @user_address, url: addresses_path, method: :post do |form| %>
	<div class="row" >
		

					<% if @addresses.present? %>
						<p>
							<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
								Select Address
							</a>

						</p>
						<div class="collapse" id="collapseExample">
							<div class="card card-body">
							<%= select_tag "address", options_for_select(@addr_hashs.collect {|p| [ p[:address], p[:id] ] }, @addr_hashs.last[:id]), include_blank: true %>
							</div>
						</div>
					<% else %>
				<p>Please add your address........</p>
			<% end %>
			<div class="mb-3">
				<%= form.label :Local_address,class:"form-margin" %>
				<%= form.text_field :shipping_address, class:"form-control" %>
			</div>
			<div class="mb-3">
			<%# @address.each do |a|%>
			<%#= select_tag "count", raw("<option>a</option>") %>
			<%# end %>
				<%#= select_tag 'address', options_for_select(@address.collect{ |u| [u.city, u.state] }) %>
				<%# <% binding.pry %>
				<%#= collection_select('id', 'address', @addr_hashs, :first, :last) %>

  			<%#= form.select :id, @addr_hashs.collect { |p| [  p[:address], p[:id] ] }, include_blank: true %>
				<%#= collection_select(:user_address,:user_address_id, @addresses, :shipping_address, prompt: true)%>
				<%#= select_tag "people", options_from_collection_for_select(@addresses, '@address') %>
			</div>
			<div class="row" style="margin-bottom: 50px;">
				<div class="col-md-6 mb-3">
					<label  class="form-margin" for="country">City</label>
					<%= form.text_field :city, class: "form-control" %>
				</div>
				<div class="col-md-6 mb-3">
					<label for="state" class="form-margin">State</label>
					<%= form.text_field :state, class: "form-control" %>
				</div>
				<div class="col-md-6 mb-3">
					<label class="form-margin" for="state">Country</label>
					<%= form.text_field :country, class: "form-control" %>
				</div>
				<div class="col-md-6 mb-3">
					<label class="form-margin" for="zip">Zip</label>
					<%= form.text_field :zipcode, class: "form-control" %>
				</div>	
			</div>
	</div>
	<div class="address_info">
	</div>
	<div class="payment-options" style="margin-top: 30px; display: inline-flex;">
			<%#= check_box_tag "pages[#{@user_order.id}]", true %>
			<%#= label_tag  %>
			<% if @address.present? %>

			<% else %>
					<%= form.submit "Save Address", class: "btn btn-primary" %>
			<% end %>
					<%= form.submit "Save Address", class: "btn btn-primary", id: "savebtn" %>		
	</div>
<% end %>
</div>
