

<div class="container">
<%= form_with model: @address, method: :post do |form| %>
	<div class="row" >
		

					<% if @addresses.present? %>
						<p>
							<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
								Select Address
							</a>

						</p>
						<div class="collapse" id="collapseExample">
							<div class="card card-body">
							<%#= select_tag "address", options_for_select(@addr_hashs.collect {|p| [ p[:address], p[:id] ] }, @addr_hashs.last[:id]), include_blank: true %>
							<%# <%= radio_button_tag :price_option, 'no_price', checked: model.no_price? %>
							<%# <%= radio_button_tag :price_option, 'fixed_amount', checked: model.fixed_amount? %>
							<%#= form.radio_button :plan_id, @addresses, onclick: "alert('Hello world!');" %>
							
							<%#= form.radio_button_tag 'address',@addr_hashs[:id], @addr_hashs[:address], true %>

							<%# form.radio_button(@addr_hashs, @addr_hashs[:address], @addr_hashs[:id].to_i) %>
  						<%#= form.collection_radio_buttons :address, @addr_hashs.collect {|p| [ p[:address], p[:id] ] }, :name_with_initial %>
							<%# [[true, 'Yes'] ,[false, 'No']] %>
							<%= form.collection_radio_buttons :address, set_address.collect {|p| [p[:address], p[:id]]}, :last, :first do |b| %>
								<div class="form-check-input">
									<%= b.radio_button %>
									<%= b.label %>
								</div>
							<% end %>
							</div>
						</div>
					<% else %>
				<p>Please add your address........</p>
			<% end %>
			<div class="mb-3">
				<%= form.label :Local_address,class:"form-margin" %>
				<%= form.text_field :shipping_address, class:"form-control" %>
			</div>
			<div class="mb-3">
			<%# @address.each do |a|%>
			<%#= select_tag "count", raw("<option>a</option>") %>
			<%# end %>
				<%#= select_tag 'address', options_for_select(@address.collect{ |u| [u.city, u.state] }) %>
				<%# <% binding.pry %>
				<%#= collection_select('id', 'address', @addr_hashs, :first, :last) %>

  			<%#= form.select :id, @addr_hashs.collect { |p| [  p[:address], p[:id] ] }, include_blank: true %>
				<%#= collection_select(:address,:address_id, @addresses, :shipping_address, prompt: true)%>
				<%#= select_tag "people", options_from_collection_for_select(@addresses, '@address') %>
			</div>
			<div class="row" style="margin-bottom: 50px;">
				<div class="col-md-6 mb-3">
					<label  class="form-margin" for="country">City</label>
					<%= form.text_field :city, class: "form-control" %>
				</div>
				<div class="col-md-6 mb-3">
					<label for="state" class="form-margin">State</label>
					<%= form.text_field :state, class: "form-control" %>
				</div>
				<div class="col-md-6 mb-3">
					<label class="form-margin" for="state">Country</label>
					<%= form.text_field :country, class: "form-control" %>
				</div>
				<div class="col-md-6 mb-3">
					<label class="form-margin" for="zip">Zip</label>
					<%= form.text_field :zipcode, class: "form-control" %>
				</div>	
	<%= form.submit "Save Address", class: "btn btn-primary", id: "" %>		
			</div>
	</div>
	<div class="address_info">
	</div>
	<div class="payment-options" style="margin-top: 30px; display: inline-flex;">
	</div>
<% end %>
</div>
