	<h2>Category</h2>
	<% @category.each do |category| %>
	<% sub_categories = category.subcategories rescue nil%>
	<div class="panel-group category-products" id="accordian"><!--category-productsr-->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordian" href="#<%= category.id %>">
				<span class="badge pull-right"><i class="fa fa-plus"></i></span>
				<%= category.name rescue nil %>
				</a>
				</h4>
			</div>
		</div>
		<% id = @parent_category.id rescue 0 %>
		<div id="<%= category.id %>" class="panel-collapse <%= sub_categories.map(&:id).include?(id) ? "in" : "collapse" %>">
			<div class="panel-body">
				<ul>
					<% sub_categories.each do |sub_cat| %>
					<li><%= link_to sub_cat.name, category_path(sub_cat) %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div><!--/category-products-->
	<% end %>